.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
blank.html
images/logo_htmlacademy.svg
images/logo.svg
images/logo_htmlacademy.svg
images/logo_htmlacademy.svg
images/photo-1.png
