.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #756257;
  padding: 9px 15px 8px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  box-sizing: border-box;
  text-decoration: none;
}

/* кнопка загрузки */
.button-load {
  display: block;
  background-color: #83b3d3;
  width: 620px;
  font-size: 20px;
  margin: 30px auto;
  text-decoration: none;
}

/* кнопка поиска гостиницы */
.find-hotel-button {
  padding: 15px;
  font-size: 20px;
  line-height: 36px;
  display: block;
  margin: 0 auto;
  font-weight: 700;
  background-color: rgba(117, 98, 87, 1);
  width: 575px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

/* кнопки фильтра */
.button-apply {
  background-color: #83b3d3;
  padding: 13px 15px 15px;
}

.button-reset {
  background-color: transparent;
  font: inherit;
  margin: 17px 0 3px;
  padding: 1px 12px 2px;
  text-transform: capitalize;
}
