.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #756257;
  padding: 9px 15px 8px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  box-sizing: border-box;
  text-decoration: none;
  outline-offset: 0;
}

.button:hover {
  background-color: #615048;
}

.button:focus-visible {
  outline: 3px solid #83b3d3;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* кнопка загрузки */
.button-load {
  display: block;
  background-color: #83b3d3;
  width: 620px;
  font-size: 20px;
  margin: 30px auto 25px;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 21px;
  outline-offset: 0;
}

.button-load:hover {
  background-color: #68a2ca;
}

.button-load:focus-visible {
  outline: 3px solid #756257;
}

/* кнопка поиска гостиницы */
.find-hotel-button {
  padding: 13px 15px 11px;
  font-size: 20px;
  line-height: 36px;
  display: block;
  margin: 0 auto;
  font-weight: 700;
  background-color: rgba(117, 98, 87, 1);
  width: 545px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

.find-hotel-button:hover {
  background-color: #615048;
}

.find-hotel-button:focus-visible {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.find-hotel-button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* кнопки фильтра */
.button-apply {
  background-color: #83b3d3;
  padding: 12px 15px 15px;
  width: 100%;
}

.button-apply:hover {
  background-color: #68a2ca;
}

.button-apply:focus-visible {
  outline: 3px solid #ffffff;
}

.button-reset {
  background-color: transparent;
  font: inherit;
  margin: 20px 0 0;
  padding: 0 10px;
  text-transform: capitalize;
  border: none;
  color: inherit;
  border-radius: 4px;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus-visible {
  outline: 2px solid #83b3d3;
}

.button-reset:active {
  opacity: 0.3;
}
