.main {
  background-color: #ffffff;
}

/* блок с фильтром */
.inner-header {
  background-color: rgb(131, 179, 211);
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 54px 72px 86px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 1.294;
  font-weight: 700;
  margin: 0 0 5px;
}

/* фильтр */
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.294;
  margin: -14px 0 0 -2rem;
}

.catalog-filter-item {
  list-style-type: none;
  margin-bottom: 13px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 30px;
  padding: 0;
}

.control-input {
  line-height: 23px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  margin: 14px 0 2rem 2rem;
  min-width: 180px;
  border: none;
  padding: 0;
}

.catalog-filter-group:last-of-type {
  min-width: 300px;
}

/* диапазон */
.catalog-filter-range {
  margin-left: auto;
  margin-right: 80px;
  width: 288px;
}

.range {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 0;
}

.range-sign {
  border: 2px solid;
  box-sizing: border-box;
  display: flex;
  margin-right: -2px;
  padding: 11px 15px 10px 1rem;
  position: relative;
  width: calc(50% + 1px);
}

.range-sign:nth-of-type(odd) {
  border-radius: 4px 0 0 4px;
  border-right-color: transparent;
}

.range-field {
  background-color: transparent;
  padding: 0;
  color: inherit;
  width: 50%;
  font: inherit;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
}

.range-price {
  margin-left: auto;
}

