.main {
  background-color: #ffffff;
}

/* блок с фильтром */
.inner-header {
  background-color: rgb(131, 179, 211);
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 35px 72px 51px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 1.294;
  font-weight: 700;
  margin: 0;
}

/* фильтр */
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.294;
  margin: -14px 0 0 -2rem;
}

.catalog-filter-item {
  list-style-type: none;
  margin-bottom: 13px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 30px;
  padding: 0;
}

.control {
  position: relative;
  padding-left: 40px;
  line-height: 23px;
}

.control-input:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control::after {
  position: absolute;
  mask-image: url("../images/checkbox.svg");
  background-color: #3f5e72;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
}

.control::before {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  left: 0;
  top: 0;
  content: "";
}

.control-input:focus-visible + .control::before,
.control-input:focus-visible + .control::after {
  outline: 2px solid #83b3d3;
  opacity: 0.6;
}

.control:hover::before,
.control:hover::after {
  opacity: 0.6;
}

.control:active::before,
.control:active::after {
  opacity: 0.3;
}


.control-input:checked + .control::after {
  content: "";
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  margin: 14px 0 2rem 2rem;
  width: 185px;
  border: none;
  padding: 0;
}

.catalog-filter-buttons {
  width: 160px;
  margin: auto 0 32px;
  text-align: center;
  align-items: start;
}

.control-radio::after {
  mask-image: url("../images/radio.svg");
}

.control-radio::before {
  border-radius: 50%;
}
