.page-footer {
  margin-top: auto;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 25px 72px;
  gap: 36px;
  align-items: center;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.social-link {
  border-radius: 10px;
  color: #83b3d3;
  display: flex;
  height: 34px;
  margin: 10px 0 0 10px;
  width: 34px;
}

.social-link::before {
  background-color: currentColor;
  content: "";
  height: 20px;
  margin: auto;
  width: 20px;
}

.tw::before {
  mask-image: url("../images/social-twitter.svg");
}

.fb::before {
  mask-image: url("../images/social-facebook.svg");
}

.yt::before {
  mask-image: url("../images/social-youtube.svg");
}

.footer-cotacts {
  font-size: 40px;
  line-height: 1;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  padding: 15px;
}

.footer-logo-academy {
  justify-self: end;
  left: 15px;
  position: relative;
}
