.housing-card-type,
.housing-card-price {
  line-height: 1.294;
}

.housing-rating {
  font-size: 16px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  line-height: 1.294;
  padding: 9px 12px 7px;
  margin: 0 0 0 -19px;
  text-align: center;
  grid-area: rating;
}

.housing-card-image {
  grid-area: image;
  margin: 0;
  margin-bottom: -2px;
  width: 300px;
}

.housing-card-image:hover {
  opacity: 0.6;
}

.housing-card-image:focus-visible {
  outline: 3px solid #83b3d3;
}

.housing-card-image:active {
  opacity: 0.3;
}

.housing-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px 18px;
  margin: 0 72px;
  padding: 54px 0 34px;
  border-bottom: 1px solid #e6e6e6;
}

.housing-card {
  width: 340px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  list-style-type: none;
  display: grid;
  grid-template-columns: 133px 1fr;
  grid-template-areas:
    "image image"
    "title title"
    "type price"
    "button favor"
    "stars rating";
  gap: 16px 26px;
  align-items: start;
}

.housing-stars {
  grid-area: stars;
  mask-image: url("../images/star.svg");
  background-color: #83b3d3;
  margin: 0;
  height: 20px;
  mask-size: 24px 20px;
  mask-position: -2px 0;
  align-self: center;
}

.housing-stars-5 {
  width: 118px;
}

.housing-stars-4 {
  width: 94px;
}

.housing-stars-3 {
  width: 70px;
}

.housing-stars-2 {
  width: 46px;
}

.housing-card-title {
  margin: 0;
  grid-area: title;
  font-size: 24px;
  line-height: 31px;
}

.housing-card-type {
  grid-area: type;
  margin: 0;
}

.housing-card-price {
  grid-area: price;
  margin: 0;
}

.housing-card-button {
  grid-area: button;
  margin: 0;
  text-decoration: none;
}

.housing-favor {
  background-color: #83b3d3;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 9px 15px 7px;
  border-radius: 4px;
  grid-area: favor;
  margin: 0;
  outline-offset: 0;
}

.housing-favor:hover {
  background-color: #68a2ca;
  outline: 1px solid #756257;
}

.housing-favor:focus-visible {
  outline: 3px solid #756257;
}

.housing-favor:active {
  outline: 1px solid #756257;
  color: rgba(255, 255, 255, 0.3);
}

.housing-favor-active {
  background-color: #7db54f;
}

.housing-favor-active:hover {
  background-color: #6c9e42;
}

.housing-favor-active:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}
