.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  overflow-y: scroll;
}

.modal-container,
.modal-auth {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  display: flex;
  padding-bottom: 70px;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}

.modal-title {
  margin: 5px 0 62px;
  padding-right: 32px;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 499px;
}

.modal-auth {
  width: 715px;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 3rem 4rem 0;
}

.modal-close-button {
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  height: 53px;
  margin: 0 0 16px auto;
  width: 53px;
  cursor: pointer;
}

.modal-close-button::before {
  background-color: currentColor;
  content: "";
  height: 20px;
  margin: auto;
  mask-image: url("../images/close.svg");
  width: 20px;
}

.visuale-hidden {
  position: fixed;
  transform: scale(0);
}

/* .modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
} */

.modal-opened {
  display: flex;
}

.modal-inner {
  margin: auto;
}

.form-group,
.form-section {
  display: flex;
  flex-wrap: wrap;
}

.form-section {
  border: none;
  margin: 0;
  padding: 0;
}

.form-group {
  align-items: flex-start;
  line-height: 40px;
  margin: 0 0 14px;
  position: relative;
  width: 100%;
}

.form-label {
  font-weight: 700;
  order: -2;
  padding: 5px 10px 0 0;
  width: 145px;
}

.form-field {
  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
  flex-grow: 1;
  font-weight: 700;
  padding: 2px 20px 4px;
}

.form-field-counter {
  max-width: 132px;
  text-align: center;
}

.form-status {
  color: #333333;
  font-size: 16px;
  line-height: 26px;
  margin-left: 155px;
  width: calc(100% - 155px);
}

.form-button {
  background-color: transparent;
  border-radius: 4px;
  height: 20px;
  opacity: .3;
  position: absolute;
  right: 16px;
  top: 15px;
  width: 20px;
}

.form-button-datepicker:before {
  mask-image: url("../images/date.svg");
}

.form-button:before {
  background-color: currentColor;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: inherit;
}

.form-group-short {
  width: 50%;
}

.form-button-step-down:before {
  mask-image: url("../images/minus.svg");
}

.form-button-step-up:before {
  mask-image: url("../images/plus.svg");
}

.form-group-short:nth-of-type(2n) .form-label {
  margin-left: auto;
  max-width: 100px;
  width: auto;
}

.form-button-step-down {
  right: 98px;
}

.form-tooltip {
  background-color: #83b3d3;
  border-radius: 50%;
  color: #ffffff;
  cursor: help;
  display: flex;
  height: 25px;
  margin: 14px 20px 0 0;
  order: -1;
  position: relative;
  width: 25px;
}

.form-tooltip:before {
  background-color: currentColor;
  content: "";
  height: 9px;
  margin: auto;
  mask-image: url("../images/info.svg");
  width: 9px;
}

.form-tooltip-content {
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  left: 50%;
  line-height: 20px;
  margin-top: 15px;
  min-width: 216px;
  opacity: .01;
  padding: 20px 20px 22px;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  transition: 0.3s, 0.3s;
  visibility: hidden;
}

.form-tooltip-content:before {
  bottom: 100%;
  content: "";
  height: 15px;
  left: 0;
  position: absolute;
  right: 0;
}

.form-tooltip-content:after {
  border: 9px solid transparent;
  border-bottom: 9px solid #333333;
  bottom: 100%;
  content: "";
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.form-submit {
  margin-top: 1.5rem;
  width: 100%;
}

.button-secondary {
  background-color: #83b3d3;
}

.button-big {
  border-radius: 10px;
  font-size: 20px;
  line-height: 26px;
  padding: 19px 40px 15px;
}
