/* варианты отображения результатов на странице */

.mode-list {
  list-style-type: none;
  width: 160px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.mode-item {
  margin-right: 8px;
}

.mode-item:last-child {
  margin-right: 0;
}

.mode {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.mode-tile {
  background-color: transparent;
  background-image: url("../images/button-light.svg");
  border: 2px solid #000000;
}

.mode-slideshow {
  background-color: transparent;
  background-image: url("../images/button-table.svg");
}

.mode-list {
  background-color: transparent;
  background-image: url("../images/button-list.svg");
}
