.pagination {
  display: flex;
  padding: 0 72px;
  justify-content: space-between;
  align-items: center;
}

.pagination-list {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 370px;
  list-style-type: none;
}

.pagination-link {
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.pagination-active {
  background-color: #ffffff;
  color: #000000;
}

.count-pages select {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 5px;
  font-size: inherit;
}
