.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page button {
  border: none;
}

.page input {
  box-shadow: none;
  box-sizing: border-box;
  appearance: textfield;
}

.page input::-webkit-outer-spin-button,
.page input::-webkit-inner-spin-button {
  appearance: none;
}
