.pagination {
  display: flex;
  padding: 30px 0 72px;
  margin: 0 72px;
  align-items: center;
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: -8px 0 0 -8px;
  list-style-type: none;
  padding: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 15px 16px;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  border-radius: 4px;
}

.pagination-link:hover:not(.pagination-active) {
  background-color: #68a2ca;
}

.pagination-link:focus-visible:not(.pagination-active) {
  outline: 3px solid #756257;
}

.pagination-link:active:not(.pagination-active) {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item {
  margin: 8px 0 0 8px;
}

.pagination-active {
  background-color: #f2f2f2;
  color: #000000;
}

.count-pages {
  margin-left: auto;
}

.count-pages select:hover {
  border-color: #83b3d3;
}

.count-pages select:focus-visible {
  outline: 2px solid #83b3d3;
}

.count-pages select:active {
  border-color: #e5e5e5;
  color: rgba(51, 51, 51, 0.3);
}

.count-pages select {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 10px 50px 12px 18px;
  width: 160px;
  font-size: inherit;
}

.count-pages-title {
  margin-right: 50px;
}
