.section-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services {
  padding: 90px 72px 93px;
}

.services .section-title {
  margin: 0 0 29px;
}

.services .section-description {
  margin: 0 0 57px;
}
