@import url("_global.css");
@import url("_modules/**/*.css");
@import url("_fonts.css");

/* каталог */
.main {
  background-color: #ffffff;
}

.inner-header {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  line-height: 1.29400;
  font-weight: 700;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item:first-child {
  background-image: url("../images/icon-home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-item,
.housing-card {
  list-style: none;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.control-input {
  line-height: 23px;
}
/* выпадашка */
.select-control {
  font-size: 18px;
  padding: 5px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
/* варианты отображения результатов на странице */
li {
  list-style: none;
}
.mode {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
}

.mode-tile {
  background-image: url("../images/button-light.svg");
  border: 2px solid #000000;
}

.mode-slideshow {
  background-image: url("../images/button-table.svg");
}

.mode-list {
  background-image: url("../images/button-list.svg");
}
