.page-footer {
  display: flex;
  margin-top: auto;
  padding: 40px 72px;
  /* vertical-align: middle; */
  align-items: center;
}

.tw {
  background-color: transparent;
  background-image: url("../images/social-twitter.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.fb {
  background-color: transparent;
  background-image: url("../images/social-facebook.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.yt {
  background-color: transparent;
  background-image: url("../images/social-youtube.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.footer-social-item {
  margin-right: 30px;
  margin-bottom: 5px;
}

.footer-social {
  width: 200px;
  margin: 0 auto;
}

.footer-contacts {
  width: 620px;
}

.footer-contacts-address {
  margin: 0;
  text-align: center;
}

.footer-cotacts-address-phone {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.footer-logo {
  width: 200px;
  margin: 0 auto;
  text-align: right;
}
