.subscribe {
  padding: 90px 72px 108px;
}

.subscribe-alter {
  background-color: rgb(131, 179, 211);
  background-image: url("../images/background-email.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.signup-subscribe {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #f2f2f2;
}

.button-email {
  padding: 10px;
  border: none;
  background-color: rgba(131, 179, 211, 1);
  color: #ffffff;
  border-radius: 10px;
}

.subscribe-form {
  text-align: center;
  margin: 0;
  min-height: 60px;
}

.subscribe .section-title {
  margin: 0 0 30px;
}

.subscribe .section-description {
  margin: 0 0 46px;
}
