<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/style.css" rel="stylesheet">
  <title>{% block title %}Седона{% endblock %}</title>
</head>

<body class="container">
  <header class="page-header">
    <a class="navigation-logo-link" href="index.html">
      <img class="navigation-logo" src="images/logo-header.svg" alt="Логотип города Седона." width="139" height="70">
    </a>
    <nav>
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="navigation-link {{ 'navigation-link-current' if page == 'index' }}" {% block href_main %}href="index.html" {% endblock %}>Главная</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="#">О Седоне</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link {{ 'navigation-link-current' if page == 'catalog' }}" {% block href_catalog %}href="catalog.html" {% endblock %}>Гостиницы</a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="navigation-list navigation-user">
        <li class="navigation-item">
          <a class="navigation-user-link navigation-search" href="#">
            <span class="visually-hidden">Поиск.</span>
          </a>
        </li>
        <li class="navigation-item">
          <a class="navigation-user-link navigation-fav" href="#!">
            <span class="navigation-fav-count">
              <span class="visually-hidden">Количество лайков:</span>
              12
            </span>
          </a>
        </li>
        <li class="navigation-item">
          <a class="button navigation-link-button" href="#">Хочу сюда!</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>

    {%block main %}{%endblock%}

    <div class="subscribe {% block subscribe_class %}{% endblock %}">
      <h2 class="section-title">
        Подпишитесь на рассылку
      </h2>
      <p class="section-description">
        Только полезная информация и никакого спама, <br> честное бойскаутское!
      </p>
      <form class="form-field subscribe-form" action="https://echo.htmlacademy.ru/" method="post">
        <label class="subscribe-name">
          <span class="visually-hidden">
            Ваш e-mail.
          </span>
          <input class="signup-subscribe" type="email" placeholder="Ваш e-mail">
        </label>
        <button class="button button-subscribe button-email" type="submit">
          Подписаться
        </button>
      </form>
    </div>
  </main>

  <footer class="page-footer">
    <section class="contacts footer-social">
      <h2 class="visually-hidden">Давайте дружить.</h2>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a class="social-link tw" href="https://twitter.com/htmlacademy_ru">
            <span class="visually-hidden">Twitter.</span>
          </a>
        </li>
        <li class="footer-social-item">
          <a class="social-link fb" href="https://facebook.com/htmlacademy">
            <span class="visually-hidden">Facebook.</span>
          </a>
        </li>
        <li class="footer-social-item">
          <a class="social-link yt" href="https://www.youtube.com/c/HTMLAcademyRUS">
            <span class="visually-hidden">Youtube.</span>
          </a>
        </li>
      </ul>
      <a class="footer-cotacts footer-cotacts-address" href="tel:+74956660266">+7(812) 812-12-12</a>
      <a class="footer-cotacts footer-logo-academy" href="https://htmlacademy.ru" target="_blank">
        <img src="images/logo-htmlacademy.svg" alt="HTML Академия." width="115" height="34">
      </a>
    </section>
  </footer>

  {% if isDev %}
    <script>
      window.pinegladePP = {
        breakpoints: [1200]
      };
    </script>
    <script src="https://efiand.github.io/pineglade-pp/pineglade-pp.min.js"></script>
  {% endif %}
</body>

</html>
